# .NET build outputs
bin/
obj/
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
